* {
	margin: 0;
}

.card-container {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-area: 'jala-card';
	font-family: sans-serif;
}

.jala-card {
	grid-area: 'jala-card';
	display: flex;
	flex-direction: column;
	flex: 1;
	border: 1rem solid black;
}

.title {
	flex: 1;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content {
	flex: 4;
	background-color: #282828;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 2rem 0 2rem;
}

/* * testing using flex to fit image */
/* #photo-container {
	flex: 0.6;
	display: flex;
	flex-direction: row;
} */

/* #photo-left-space {
	flex: 1;
}

#photo-right-space {
	flex: 1;
} */

.id-photo {
	border-radius: 20%;
	/* zoom recalculates size after being distributed on the layout */
	/* zoom: 0.6; */
	/* transform scale only changes visually but the layout keeps the original distribution */
	/* transform: scale(0.6);  */
	/* * width (with %) and height (with auto) combined keep responsiveness and proportions */
	width: 70%;
	height: auto; 
	/* * trying to use flex */
	/* flex: 2; */
	/* object-fit: cover; */
}

.name {
	color: #fff;
	font-size: 4rem;
}

.footer {
	flex: 0.8;
	background-color: #ee283f;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem 0 1rem;
}

.role {
	color: #fff;
	font-size: 3rem;
}