* {
	margin: 0;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

header {
	flex: 1;
	background-color: #02ffff;
}

main {
	display: flex;
	flex-direction: row;
	flex: 3;
}

.sidebar {
	background-color: #02ffc6;
	flex: 1;
}

.main-body {
	flex: 2.5;
	display: flex;
	flex-direction: column;
}

.main-article {
	background-color: gainsboro;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.light-purple-bar {
	background-color: #a4c2f4;
	flex-grow: 1;
}

.purple-bar {
	background-color: #674ea7;
	flex-grow: 1;
}

.boxes-container {
	display: flex;
	flex-direction: row;
	flex-grow: 2;
}

.box {
	background-color: deeppink;
	flex-grow: 1;
	margin: 2em;
}
