<body>
  <header></header>
  <main>
    <div [class]="sideBarClass()">
      <button (click)="collapse()">Collapse</button>
    </div>
    <div class="main-body">
      <div class="main-article">
        <div class="light-purple-bar"></div>
        <div class="purple-bar"></div>
        <div class="boxes-container">
          <div class="box"></div>
          <div class="box"></div>
        </div>
        <div class="boxes-container">
          <div class="box"></div>
          <div class="box"></div>
        </div>
      </div>
    </div>
  </main>
</body>
