* {
	margin: 0;
}

.body {
	height: 100vh;
	display: grid;
	grid-template-columns: 0.5fr 0.5fr 5fr;
	grid-template-rows: 1fr 3fr;
	grid-template-areas:
		"header header header"
		"sidebar sidebar main";
}

.body.sidebar-collapsed {
	height: 100vh;
	display: grid;
	grid-template-columns: 0.5fr 0.5fr 5fr;
	grid-template-rows: 1fr 3fr;
	grid-template-areas:
		"header header header"
		"sidebar main main";
}

@media (max-width: 900px) {
	.body {
		grid-template-areas:
			"header header header"
			"sidebar main main";
	}
}

header {
	grid-area: header;
	background-color: #02ffff;
}

main {
	grid-area: main;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 4fr;
	grid-template-areas:
	"light-purple-area"
	"purple-area"
	"boxes-area";
}

.sidebar {
	background-color: #02ffc6;
	grid-area: sidebar;
}

.light-purple-bar {
	background-color: #a4c2f4;
	grid-area: light-purple-area;
}

.purple-bar {
	background-color: #674ea7;
	grid-area: purple-area;
}

.boxes-container {
	background-color: gainsboro;
	grid-area: boxes-area;
	display: grid;
	grid-template-areas:
	"box1 box2"
	"box3 box4";
	gap: 2rem;
	padding: 2rem;
}

.box1 {
	background-color: deeppink;
	grid-area: box1;
}

.box2 {
	background-color: deeppink;
	grid-area: box2;
}

.box3 {
	background-color: deeppink;
	grid-area: box3;
}

.box4 {
	background-color: deeppink;
	grid-area: box4;

}

.inputError {
	color: red;
}
